---
layout: admin/admin
---
	
<div id="page-help">
	
	<h2>Help</h2>
	
	<details>
		<summary>
			<h3>🏁 Getting started</h3>
		</summary>
		
		<div class="container">
			<p>All documents that have been uploaded to the <a href="{{ site.git-repos | append: site.documents-repo }}" title="Visit the GitHub repository for this site">document store repository</a> are listed on this page.</p>
			
			<p>The documents are arranged by their parent folder. Selecting the name of the folder will reveal a list of all the documents in that folder.</p>
			
			<p>Any files not placed into folders will display under “unfiled”.</p>
			
			<p>If you have recently uploaded a new document to the repository, it can take several minutes to appear in this list.</p>
			
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>🔗 Getting the link to a document</h3>
		</summary>
		
		<div class="container">
			<p>This tool will allow you to get link to files stored in the documents repository.</p>
			<p>Find the file you want to link to and use the “Copy file URL” button to copy the link to your clipboard. Paste the link using <kbd>Ctrl + V</kbd> (Windows) or <kbd>Cmd + V</kbd> (MacOS).</p>
			<p>Links should start with <code>www.civilservice.lgbt</code>.</p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>📁 Upload files to a new folder</h3>
		</summary>
		
		<div class="container">
			<p>You can upload a new document to an existing folder by selecting the folder you want to use and using the ”Upload here” button. This will take you to the correct page to the correct page on Github.</p>
			
			<p>Once you have uploaded the file on GitHub, it will take several minutes to appear in this list. You can then link to it once it's listed on this page.</p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>📂 Upload files to an existing folder</h3>
		</summary>
		
		<div class="container">
			<p>You can upload a new document to an existing folder by selecting the folder you want to use and using the ”Upload here” button. This will take you to the correct page to the correct page on Github.</p>
			
			<p>Once you have uploaded the file on GitHub, it will take several minutes to appear in this list. You can then link to it once it's listed on this page.</p>
			
			<p><strong>Important:</strong> All files must be placed inside the top level “/store” folder. If they are not, they will not show up in this list and may fail to be publicly accessible.</p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>🔐 GitHub permissions</h3>
		</summary>
		
		<div class="container">
			<p>You will require a <a href="//github.com/" title="Go to the GitHub website" target="_blank" rel="noopener noreferrer">GitHub</a> account and relevant permissions to <a href="{{ site.git-repos | append: site.documents-repo }}" title="Visit the GitHub repository for this site">the document store repository</a> in order to add or amend its content.</p>
		</div>
		
	</details>
	
	
	
</div>

<div id="page-content">
	
	<h2>All documents</h2>
	
	{% assign documents = site.static_files | where: "document", true %}
	{% for doc in documents %}	
	
		{% assign file = doc.basename | prepend: '/' | append: doc.extname %}
		{% assign currentfolder = doc.path | remove: '/store/' | remove: file %}
		{% assign nofolder = doc.path | remove: '/store/' | remove: doc.basename | remove: doc.extname %}
		{% assign foldername = doc.path | remove: '/store' | remove: doc.basename | remove: doc.extname %}
		{% assign filename = doc.basename | remove: doc.extname | replace: "-", " " | replace: "lgbt", "LGBT" | replace: "lgbti", "LGBTI" %}
		
		{% if currentfolder != folder %}
			
		{% unless forloop.first %}
		</details>
		{% endunless %}
		
		<details class="folder">
			{% if nofolder == "" %}
			<summary class="foldername"><h2>🗂 Unfiled</h2></summary>
			{% else %}
			<summary class="foldername"><h2>🗂 {{ foldername }}</h2></summary>
			{% endif %}
			
			<div class="container">
				<a href="{{ site.github-repo | append: 'tree/main' | append: doc.path | remove: file }}" class="button" title="Open the “{{ foldername }}” folder on Github" target="_blank">Open folder</a>
				<a href="{{ site.github-repo | append: 'upload/main' | append: doc.path | remove: file }}" class="button" title="Open GitHub and upload to the “{{ foldername }}” folder" target="_blank">Upload here</a>
				<button onclick="copyURL('{{ site.git-repos | append: site.documents-repo | append: 'tree/main' | append: doc.path | remove: file }}');" title="Copy “{{ filename }}” URL to clipboard" target="_blank">Copy URL</button>
			</div>
			
			<h3 class="filesheading">📄 Files</h3>
		{% assign folder = currentfolder %}
		{% endif %}
		
			
			<details class="file">
				<summary><h4 class="filename">{{ filename }}</h4></summary>
				<div class="container">
					<p><strong>File name:</strong> <span class="filepath">{{ doc.basename }}</span></p>
					<p><strong>File type:</strong> <span class="filetype">{{ doc.extname }}</span></p>
					<p><strong>File modified:</strong> <span class="filedate">{{ doc.modified_time | date:'%-d %B %Y, %H:%M' }}</span></p>
					<a href="{{ site.url | append: site.baseurl | append: doc.path }}" class="button" title="Open “{{ filename }}” on Github" target="_blank">Open this file</a>
					<button onclick="copyURL('{{ site.url | append: site.baseurl | append: doc.path }}');" title="Copy “{{ filename }}” URL to clipboard" target="_blank">Copy file URL</button>
				</div>
			</details>
		
		{% if forloop.last %}
		</details>
		{% endif %}
	
	{% endfor %}
	
</div>