---
layout: admin/admin
---
	
<div id="page-help">
	
	<h2>Help</h2>
	
	<details>
		<summary>
			<h3>🏁 Getting started</h3>
		</summary>
		
		<div class="container">
			<p>All images that have been uploaded to the <a href="{{ site.git-repos | append: site.images-repo }}" title="Visit the GitHub repository for this site">image store repository</a> are listed on this page.</p>
			
			<p>The images are arranged by their parent folder. Selecting the name of the folder will reveal a list of all the images in that folder.</p>
			
			<p>Any files not placed into folders will display under “unfiled”.</p>
			
			<p>If you have recently uploaded a new image to the repository, it can take several minutes to appear in this list.</p>
			
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>⚠️ Important</h3>
		</summary>
		
		<div class="container">
			<p>All files <strong>must</strong> be placed inside the top level <a href="{{ site.git-repos | append: site.images-repo | append: '/tree/' | append: site.images-repo--branch | append: "/store" }}" title="Visit the GitHub repository for this site">“/store”</a> folder. If they are not, they will not show up in this list and may fail to be publicly accessible.</p>
			<p>Links to files should start with <code>https://www.civilservice.lgbt/</code>. Always include the <code>https://</code> or your link might not work.</p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>🔗 Getting the link to a image</h3>
		</summary>
		
		<div class="container">
			<p>This tool will allow you to get link to images stored in the images repository.</p>
			<p>Find the file you want to link to and use the “Copy file URL” button to copy the link to your clipboard. Paste the link using <kbd>Ctrl + V</kbd> (Windows) or <kbd>Cmd + V</kbd> (MacOS).</p>
			<p>Links should start with <code>https://www.civilservice.lgbt/images/store/</code></p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>📁 Upload images to a new folder</h3>
		</summary>
		
		<div class="container">
			<p>You can upload a new image to a new folder by selecting “Add an image” below and following the step-by-step instructions. This will step you through the process of working with the GitHub website and simplify the steps involved.</p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>📂 Upload images to an existing folder</h3>
		</summary>
		
		<div class="container">
			<p>You can upload a new image to an existing folder by selecting the folder you want to use and using the ”Upload here” button. This will take you to the correct page on Github.</p>
			
			<p>Once you have uploaded the file on GitHub, it will take several minutes to appear in this list. You can then link to it once it's listed on this page.</p>
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>🔐 GitHub permissions</h3>
		</summary>
		
		<div class="container">
			<p>You will require a <a href="//github.com/" title="Go to the GitHub website" target="_blank" rel="noopener noreferrer">GitHub</a> account and relevant permissions to <a href="{{ site.git-repos | append: site.images-repo }}" title="Visit the GitHub repository for this site">the image store repository</a> in order to add or amend its content.</p>
		</div>
		
	</details>
	
	
	
</div>

<div id="page-content">
	
	<h2>All images</h2>
	
	<h2 class="smallheading">New folder</h2>
	
	<details class="newfile">
		<summary class="foldername"><h2>🆕 Add an image</h2></summary>
		
		<div class="container">
			
			<fieldset id="rename-file">
				<details>
					
					<summary>
						<h3><legend>1. Set a file name <span class="optional">(optional)</span></legend></h3>
					</summary>
					
					<div class="container">	
						
						<div class="text-input">
							<label for="new-file-name">File name</label>
							<p class="label">File names must be in lowercase and contain no spaces or special characters.</p>
							<p class="label"> Use dashes instead of spaces. Do not use special characters like apostrophes, <kbd>&</kbd>, <kbd>@</kbd> or <kbd>#</kbd>.</p>
							<p class="label-hint">For example – <code>file-name</code> not <code>File name</code></p>
							
							<p class="label">If you're not sure, enter your proposed file name in this text field; it will remove invalid characters.</p>
							<input id="new-file-name" name="new-file-name" type="text" placeholder="Enter file name" onfocusout="cleanFieldInput('new-file-name');">
						</div>
						
						<label for="new-file-name-copy-button">
							Copy clean file name to clipboard
						</label>
						<p class="label-hint">This button will copy a valid file name to your clipboard.</p>
						<p class="label-hint">Rename your file, and paste the clean file name using <kbd>Ctrl + V</kbd> (Windows) or <kbd>Cmd + V</kbd> (MacOS)</p>
						
						<button id="new-file-name-copy-button" onclick="copyFieldInput('new-file-name')">Copy file name</button>
						
					</div>
					
				</details>
			</fieldset>
			
			<fieldset id="new-folder">
				<details>
					
					<summary>
						<h3><legend>2. Set a folder name <span class="optional">(optional)</span></legend></h3>
					</summary>
					
					<div class="container">	
						
						<div class="text-input">
							<label for="new-folder-name">Folder name</label>
							<p class="label">Folder names must be in lowercase and contain no spaces or special characters.</p>
							<p class="label"> Use dashes instead of spaces. Do not use special characters like apostrophes, <kbd>&</kbd>, <kbd>@</kbd> or <kbd>#</kbd>.</p>
							<p class="label-hint">For example – <code>folder-name</code> not <code>Folder Name</code></p>
							<input id="new-folder-name" name="new-folder-name" type="text" placeholder="Enter folder name" onfocusout="cleanFieldInput('new-folder-name');">
						</div>
						
					</div>
					
				</details>
				
			</fieldset>
			
			<fieldset id="open-new-folder">
				<details>
					
					<summary>
						<h3><legend>3. Open folder on Github and upload file(s)</legend></h3>
					</summary>
					
					<div class="container">	
						
						<label for="open-new-folder-button">
							Open GitHub in a new window
							<p class="label-hint">The button will open GitHub at the correct directory to create the new folder.</p>
							<p class="label-hint">Upload your file in that window.</p>
						</label>
						<button id="open-new-folder-button" onclick="createGitHubDirectory('new-folder-name', 'images', 'store');">Open GitHub</button>
						
						<p class="label">Once your file is processed, it will be listed under the “Existing folders” below. You may need to wait several minutes, and then refresh this window.</p>
						
					</div>
					
				</details>
				
			</fieldset>
			
		</div>
		
	</details>
	
	<h2 class="smallheading">Existing folders</h2>
	
	{% assign images = site.static_files | where: "image", true %}
	{% for doc in images %}	
	
		{% assign file = doc.basename | prepend: '/' | append: doc.extname %}
		{% assign currentfolder = doc.path | remove: '/store/' | remove: file %}
		{% assign nofolder = doc.path | remove: '/store/' | remove: doc.basename | remove: doc.extname %}
		{% assign foldername = doc.path | remove: '/store' | remove: doc.basename | remove: doc.extname %}
		{% assign filename = doc.basename | remove: doc.extname | remove: "+" | replace: "-", " " | replace: "lgbti", "LGBTI" | replace: "lgbt", "LGBT" %}
		
		{% if currentfolder != folder %}
			
		{% unless forloop.first %}
		</details>
		{% endunless %}
		
		<details class="folder">
			{% if nofolder == "" %}
			<summary class="foldername">
				<h3>🗂 Unfiled</h3>
			</summary>
			{% else %}
			<summary class="foldername">
				<h3>🗂  {{ foldername }}</h3>
			</summary>
			{% endif %}
			
			<div class="container">
				<a href="{{ site.git-repos | append: site.images-repo | append: '/tree/main' | append: doc.path | remove: file }}" class="button" title="Open the “{{ foldername }}” folder on Github" target="_blank">Open folder</a>
				<a href="{{ site.git-repos | append: site.images-repo | append: '/upload/main' | append: doc.path | remove: file }}" class="button" title="Open GitHub and upload to the “{{ foldername }}” folder" target="_blank">Upload here</a>
				<button onclick="copyURL('{{ site.git-repos | append: site.images-repo | append: '/tree/main' | append: doc.path | remove: file }}');" title="Copy “{{ filename }}” URL to clipboard" target="_blank">Copy URL</button>
			</div>
			
			<h3 class="filesheading">🏞 Image files</h3>
		{% assign folder = currentfolder %}
		{% endif %}
		
			
			<details class="file">
				<summary><h4 class="filename">{{ filename }}</h4></summary>
				<div class="container">
					<p><strong>File name:</strong> <span class="filepath">{{ doc.basename }}</span></p>
					<p><strong>File type:</strong> <span class="filetype">{{ doc.extname }}</span></p>
					<p><strong>File modified:</strong> <span class="filedate">{{ doc.modified_time | date:'%-d %B %Y, %H:%M' }}</span></p>
					<a href="{{ site.url | append: site.baseurl | append: doc.path }}" class="button" title="Open “{{ filename }}” on Github" target="_blank">Open this file</a>
					<button onclick="copyURL('{{ site.url | append: site.baseurl | append: doc.path }}');" title="Copy “{{ filename }}” URL to clipboard" target="_blank">Copy file URL</button>
				</div>
			</details>
		
		{% if forloop.last %}
		</details>
		{% endif %}
	
	{% endfor %}
	
</div>