---
layout: admin/admin
---

<div id="page-help">
	
	<h2>Help</h2>
	
	<details open>
		<summary>
			<h3>🏁 Getting started</h3>
		</summary>
		
		<div class="container">
			{{ content }}	
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>👾 Using GitHub</h3>
		</summary>
		
		<div class="container">
				
			<p>You will require a <a href="//github.com/" title="Go to the GitHub website" target="_blank" rel="noopener noreferrer">GitHub</a> account and relevant permissions to <a href="{{ site.code-repo }}" title="Visit the GitHub repository for this site">the repository</a> for this site in order to add or amend its content.</p>
			
		</div>
		
	</details>
	
	<details>
		<summary>
			<h3>🔍 Finding archived content</h3>
		</summary>	
		
		<div class="container">
			
			<p>Archived content may be excluded from these lists. If you need to access this content, you can still do so through GitHub.</p>
			
		</div>
		
	</details>
	
</div>

<div id="page-content">
	
	<h2>All posts</h2>
			
	{% assign collections = site.collections | where_exp: "collections", "collections.label != 'archives' and collections.label != 'past-events' and collections.label != 'posts'" %}
	{% for collection in collections %}
		<details class="collection">
			<summary class="collection--label">{{ collection.label }}</summary>
			<div class="container">
				<p><strong>Folder:</strong> {{ collection.relative_directory }}</p>
				{% assign count = 0 %}
				{% for post in collection.docs %}
					{% assign count = count | plus: 1 %}
				{% endfor %}
				<p><strong>Entries:</strong> {{ count }}
				</p>
			<section class="collections--posts">
				{% for post in collection.docs reversed %}
				<details class="collection--posts--item">
					<summary class="collection--posts--item--label">
						<header>
						{% if post.layout == 'news'
						or post.layout == 'consultation'
						or post.layout == 'notice'
						or post.layout == 'publication' %}
						<span class="date">{{ post.date | date:'%Y-%m-%d' }}</span>
						{% elsif post.layout == 'event' %}
						<span class="date">{{ post.event-date | date:'%Y-%m-%d' }}</span>
						{% endif %}
						<span class="title">{{ post.title }}</span>
						</header>
					</summary>
					<div class="container">
						<p><strong>{{ post.title }}</strong></p>
						<p>{{ post.excerpt | truncate: 100 }}</p>
						<p>
							<a href="{{ post.url }}" class="button">View this post</a>
							<a href="{{ site.code-repo }}/edit/{{ site.code-repo--branch }}/{{ post.path }}" class="button">Edit this post</a>		
						</p>
					</div>
				</details>
				{% endfor %}
			</section>
		</details>
	{% endfor %}
	
</div>