<section id="posts-events">
	
	<h1 class="section-title"><a href="{{ site.url | append: site.baseurl | append: '/events/' }}" title="Go to the events page">Upcoming events</a></h1>
	
	{% assign future-events = 0 %}
	{% assign today-date = 'now' | date: '%s' %}
	{% assign events = site.events | sort: "event-date" %}
	
	{% for post in events %}
	{% assign date = post.event-date | date: '%s' %}
	{% if today-date < date %}
	{% assign future-events = future-events | plus: 1 %}
	{% endif %}
	{% endfor %}
	
	<ul>
	{% if future-events == 0 %}
	
		<li>
			<article>
				<h2>
					No upcoming events
				</h2>
				<p class="post-metadata">We don't currently have any events scheduled. Check back again soon.</p>
			</article>
		</li>
	
	{% else %}
	
		{% assign output-count = 0 %}
		{% for post in events %}
		{% assign date = post.event-date | date: '%s' %}
		{% if today-date < date %}
		{% if output-count < 3 %}
		<li>
			<article>
				<h2>
					<a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">
						{{ post.title }}
					</a>
				</h2>
				<p class="post-metadata">On <time datetime="{{ post.event-date | date: '%Y-%m-%d %H:%M' }}">{{ post.event-date  | date:'%-d %B %Y at %H:%M' }}</time></p>
			</article>
		</li>
		{% assign output-count = output-count | plus: 1 %}
		{% endif %}
		{% endif %}
		{% endfor %}
	
	{% endif %}
	</ul>
	
	
		
</section>

