<section id="posts-news">
	
	<h1 class="section-title"><a href="{{ site.url | append: site.baseurl | append: '/news/' }}" title="Go to the news page">Latest news</a></h1>

	<ul>
		{% assign today-date = 'now' | date: '%s' %}
		{% assign news = site.news | sort: 'date' | reverse %}
		{% for post in news limit: 3 %}
		{% assign post-date = post.date | date: '%s' %}
		{% if post-date <= today-date %}
		<li>
			<article>
				<h2>
					<a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">
						{{ post.title }}
					</a>
				</h2>
				<p>{{ post.excerpt }}</p>
				<p class="post-metadata">Published <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date  | date:'%-d %B %Y' }}</time> {% if post.author %}by {{ post.author }}{% endif %}</p>
			</article>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	
</section>
