---
layout: admin/admin
---

<div id="page-help">
	
	<h2>Help</h2>
	
	<details>
		
		<summary>
			<h2>✏️ How to add a new image</h2>
		</summary>
		
		<div class="container">
		
			<p>Coming soon</p>
			
		</div>	
		
	</details>
	
	<details>
		<summary>
			<h2>📄 File names</h2>
		</summary>
		
		<div class="container">
		
			<p>Coming soon</p>
			
		</div>	
		
	</details>
	
	<details>
		<summary>
			<h3>🔐 GitHub permissions</h3>
		</summary>
		
		<div class="container">	
			<p>You will require a <a href="//github.com/" title="Go to the GitHub website" target="_blank" rel="noopener noreferrer">GitHub</a> account and relevant permissions to <a href="{{ site.git-repos | append: site.images-repo }}" title="Visit the GitHub repository for this site">the repository</a> for this site in order to add or amend its content.</p>
		</div>
		
	</details>
	
</div>

<div id="page-content">
	
	
	
</div>