@page {
	size: A4 portrait;
	margin: 10mm;
	
	@footnote {
		border-top: 1mm solid $brand-gray;
		padding-top: 5mm;
	}
		
}

header, 
footer,
div#site-footer {
	display: none !important;
	height: 0;
	width: 0;
	
	&::after {
	    content: none;
	    clear: none;
	    display: none;
	}
}