{% if page.title %}
<meta itemprop="name" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}">
{% else %}
<meta itemprop="name" content="{{ site.title | strip_html | strip_newlines | truncate: 160 }}">
{% endif %}

{% if page.excerpt %}
<meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
{% else %}
<meta itemprop="description" content="{{ site.description | strip_html | strip_newlines | truncate: 160 }}">
{% endif %}

{% if page.image %}
<meta itemprop="image" content="{{ page.image }}">
{% else %}
<meta itemprop="image" content="{{ site.url | append: site.baseurl | append: site.social-media-image }}">
{% endif %}