// Page styles

main#admin,
main#admin-new-post,
main#admin-new-image,
main#admin-new-document,
main#admin-edit-post,
main#admin-edit-image,
main#admin-edit-document {
  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-help"
      "page-content"
      "page-admin-nav"
      "page-preview";

    @include md-up {
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title ."
        "page-lead-paragraph ."
        "page-help page-admin-nav"
        "page-content page-preview";
    }
  }

  @include clearfix;

  padding: 45px 0;

  div#page-title {
    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    h1.page-title {
      margin: 0;
      padding: 0;
    }
  }
  div#page-preview {
    @supports (display: grid) {
      grid-area: page-preview;
    }
    
    div#post-preview { 
      display: grid;
      
      position: -webkit-sticky;
      position: sticky;
      
      top: $container-padding;
      
      grid-template-rows: auto 1fr auto;
      
      font-size: $font-size-base * 0.6;
      font-weight: normal;
      font-family: $font-family-monospace;
      
      min-height: 375px;
      max-height: 600px;
      overflow-y: hidden;
      
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    
    header#post-preview-header {
      padding: $container-padding;
      font-weight: 900;
      color: $white;
      background: $brand-gray;
    }
    
    article#post-preview-output {
      padding: $container-padding;
    }
    
    footer#post-preview-footer {
      padding: $container-padding;
      text-align: right;
      
      button {
        background: unset;
        padding: unset;
        min-width: unset;
        min-height: unset;
        box-sizing: content-box;
        text-decoration-skip: ink;
        text-decoration-skip-ink: auto;
        
        display: inline;
        line-height: 1;
        font-size: $font-size-base * 0.6;
        font-weight: bold;
        font-family: $font-family-monospace;
        color: $cyan;
        
        &:link,
        &:visited {
          color: $link-color;
          text-decoration: none;    
        }
        &:hover {
          color: $link-hover-color;
          text-decoration: underline !important;
          cursor: pointer;
        }
        &:focus {
          color: $black !important;
          background: $link-focus-background;
          outline: 3px solid $link-focus-background;
        }
        &:active {
          color: $white !important;
          background: $link-active-background;
          outline: 3px solid $link-active-background;
        }
      }
    }
  }

  div#page-lead-paragraph {
    @supports (display: grid) {
      grid-area: page-lead-paragraph;
    }

    margin-bottom: 45px;

    p:first-child {
      font-size: $font-size-base + 5px;
    }
  }
  
  div#page-admin-nav {
    @supports (display: grid) {
      grid-area: page-admin-nav;
    }

    margin-bottom: 45px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: $container-padding $container-padding $container-padding 0;
      border-top: 2px solid $light-gray;
    }
  }
  
  div#page-help {
    @supports (display: grid) {
      grid-area: page-help;
    }

    margin-bottom: 45px;
    
    ul,ol {
      li {
        padding-bottom: $container-padding * 0.5;
      }
    }
    
  }

  div#page-content {
    @include md-up {
      width: 67%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: 100%;
      float: none;
      clear: none;
      grid-area: page-content;
    }

    margin-bottom: 45px;
    padding-top: 0;
    
    button,
    a.button {
      margin-bottom: 0;
      margin-right: $container-padding;
      padding: ($container-padding * 0.5) ($container-padding * 2);
    }
    
    button + label,
    button + p {
      margin-top: $container-padding * 2;
    }
    
    span.optional {
      color: $dark-gray;
      font-weight: normal;
      font-style: italic;
      margin-left: $container-padding;
    }
    
  }
    
  div#post-buttons {
    padding-top: $container-padding;
    border-top: 2px solid $light-gray;
    p {
      @include clearfix;
    }
  }

  details {
    &.collection--posts--item {
      padding: ($container-padding * 0.5);
      border-top: 1px solid $light-gray;
      &:first-of-type {
        border: none;
      }
    }
  }
  
  summary {
    &.collection--label {
      text-transform: capitalize;
    }
    &.collection--posts--item--label {
      display: block;
      text-transform: capitalize;
      font-weight: normal;
      max-width: 100%;
      header {
        display: inline-block;
        width: calc(100% - (#{$container-padding} * 2));
      }
      span.post-title {
        display: block;
        max-width: 50ch;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        @include xs {
          max-width: 20ch;
        }
      }
      span.date {
        color: $dark-gray;
      }
    }
  }
  
  details > summary:hover span.date {
    color: inherit;
  }
  
  details > summary:active span.date {
    color: $white;
  }
  
  
  details > details {
    margin-left: $container-padding * 2;
  }
  
  details > div.container {
    width: calc(100% - (#{$container-padding} * 2));
    margin: 0 0 0 ($container-padding * 2);
    padding: 0;
  }
  .filename {
    text-transform: capitalize !important;
  }
  .filepath,
  .filedate,
  .filetype {
    display: block;
  }
  
  h1, h2, h3, h4, h5, h6 {
    &.filesheading {
      display: block;
      position: relative;
      font-size: $font-size-base;
      line-height: $font-line-height;
      padding: ($container-padding * 3) 0 $container-padding ($container-padding * 2);
      color: unset;
      width: calc(100% - (#{$container-padding} * 2))
    }
    &.smallheading {
      display: block;
      position: relative;
      font-size: $font-size-base;
      line-height: $font-line-height;
      padding: ($container-padding * 3) 0 $container-padding;
      color: unset;
      width: calc(100% - (#{$container-padding} * 2))
    }
  }
  
  details.folder[open] {
    padding-bottom: $container-padding * 4;
  }
  
  details.file {
    margin-left: $container-padding * 2;
  }
  
  details div.container {
    a.button, button  {
      margin-right: $container-padding * 0.5 !important;
      margin-bottom: $container-padding * 0.5 !important;
      @include xs {
        display: block;
        width: 100%;
      }
    }
  }
  
  details.newfile,
  details.folder:last-of-type {
    border-bottom: 2px solid $light-gray;  
  }

}

