main#admin-documents {
  .foldername {
    text-transform: capitalize !important;
  }
  .filename {
    text-transform: capitalize !important;
  }
  .filepath {
    display: inline-block;
    max-width: 40ch;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  h1, h2, h3, h4, h5, h6 {
    &.filesheading {
      display: inline-block;
      position: relative;
      font-size: $font-size-base;
      line-height: $font-line-height;
      padding: $container-padding 0 $container-padding ($container-padding * 2);
      color: unset;
      width: calc(100% - (#{$container-padding} * 2))
    }
  }
  
  details.folder[open] {
    padding-bottom: $container-padding * 4;
  }
  
  details.folder blockquote,
  details.folder div.buttons {
    width: calc(100% - #{$container-padding * 2});
    margin-left: $container-padding * 2;
  }
  
  details.folder div.buttons {
    padding-bottom: $container-padding;
  }
  
  details.file {
    margin-left: $container-padding * 2;
  }
}