// Page styles

main#page {
  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-content";

    @include md-up {
      grid-template-rows: auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title ."
        "page-lead-paragraph ."
        "page-content .";
    }
  }

  &::after {
    content: "";
    clear: both;
    display: table;

    @supports (display: grid) {
      content: none;
      clear: inherit;
      display: none;
    }
  }

  padding: 45px 0;

  div#page-title {
    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    h1.page-title {
      margin: 0;
      padding: 0;
    }
  }

  div#page-lead-paragraph {
    @supports (display: grid) {
      grid-area: page-lead-paragraph;
    }

    margin-bottom: 45px;

    p {
      font-size: $font-size-base + 5px;
    }
  }

  div#page-metadata {
    @supports (display: grid) {
      grid-area: page-metadata;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $light-gray;

    p {
      font-size: $font-size-base - 3px;
      margin: 0;
    }
  }

  div#page-content {
    @include md-up {
      width: 67%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: 100%;
      float: none;
      clear: none;
      grid-area: page-content;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $light-gray;

    img.page-image {
      width: 100%;
      min-width: 100%;
      min-height: 100px;
    }

    div.footnotes {
      border-top: 2px solid $light-gray;
      margin-top: 45px;
      padding: 15px 0 0 0;

      &::before {
        @extend h4;

        display: inline-block;
        width: 100%;
        padding-bottom: 15px;
        content: "Footnotes";
      }
    }
  }

  tr {
    td {
      &:first-child {
        min-width: 75px;
        vertical-align: top;

        @include md-up {
          min-width: 150px;
        }
      }

      &:nth-child(2) {
        h2 {
          padding-top: 0;
          padding-bottom: 10px;
        }
      }

      img {
        margin-top: 10px;
        max-width: 150px !important;
      }
    }
  }
}

main#networks {
  @extend #page;

  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-content";

    @include md-up {
      grid-template-rows: auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title page-title"
        "page-lead-paragraph ."
        "page-content page-content";
    }
  }

  #page-title {
    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    h1.page-title {
      @include md-up {
        font-size: $heading1-font-size-base * 2;
      }
    }
  }

  #page-content {
    @include md-up {
      width: 100%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: 100%;
      float: none;
      clear: none;
      grid-area: page-content;
    }

    table {
      tr {
        td {
          padding: 15px 0;
        }
      }
    }
  }
}

main#join-us,
main#update-profile {
  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-content";

    @include md-up {
      grid-template-rows: auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title ."
        "page-lead-paragraph ."
        "page-content .";
    }
  }

  &::after {
    content: "";
    clear: both;
    display: table;

    @supports (display: grid) {
      content: none;
      clear: inherit;
      display: none;
    }
  }

  padding: 45px 0;

  div#page-title {
    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    h1.page-title {
      margin: 0;
      padding: 0;
    }
  }

  div#page-lead-paragraph {
    @supports (display: grid) {
      grid-area: page-lead-paragraph;
    }

    margin-bottom: 45px;

    p {
      font-size: $font-size-base + 5px;
    }
  }

  div#page-metadata {
    @supports (display: grid) {
      grid-area: page-metadata;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $light-gray;

    p {
      font-size: $font-size-base - 3px;
      margin: 0;
    }
  }

  div#page-content {
    @include md-up {
      width: 67%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: 100%;
      float: none;
      clear: none;
      grid-area: page-content;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $light-gray;

    div#mc_embed_signup {
      div.indicates-required {
        margin: 15px 0;
        width: 100%;
        text-align: left;
        font-size: $font-size-base;
        font-weight: bold;

        span.asterisk {
          color: $red;
        }
      }

      div#extra-questions {
        margin-top: 60px;
        margin-bottom: 0;
        padding: 15px 15px 5px 15px;
        background: $black;
        color: $white;

        @include box-shadow(5);
      }

      div.mc-field-group {
        display: block;
        width: 100%;
        margin: 15px 0;
        padding: 0;
        font-size: $font-size-base;

        label {
          display: inline-block;
          width: 30%;

          @include xs {
            display: block;
            width: 100%;
          }

          float: left;
          line-height: 30px;
          vertical-align: middle;
        }

        input[type='text'],
        input[type='email'] {
          display: inline-block;
          width: 70%;

          @include xs {
            display: block;
            width: 100%;
          }

          height: 30px;
          border: none;
          border-bottom: 3px solid $black;
          font-size: $font-size-base;

          &:focus,
          &:hover {
            outline: none;
            border: 3px solid $magenta;
          }
        }

        &.input-group {
          height: auto;
          padding: 0;
          margin: 0 0 45px 0;

          ul {
            list-style: none;
            padding: 0;
            margin: 15px 0;

            li {
              padding: 0;
              margin: 15px 0;
              line-height: 30px;
              vertical-align: middle;

              input[type='checkbox'],
              input[type='radio'] {
                display: block;
                position: absolute;
                opacity: 0;
                cursor: pointer;
                width: 30px;
                height: 30px;
                margin-right: 25px;
                z-index: 500;

                & ~ label {
                  border-bottom: 2px solid transparent;
                }

                &:focus,
                &:hover {
                  & ~ span.checkbox,
                  & ~ span.radio {
                    outline: none;
                    border: 3px solid $magenta;

                    & ~ label {
                      border-bottom: 2px solid $magenta;
                    }
                  }
                }
              }

              span.checkbox,
              span.radio {
                display: inline-block;
                position: absolute;
                float: left;
                height: 30px;
                width: 30px;
                margin-right: 25px;
                border: 3px solid $black;

                &:hover {
                  outline: none;
                  border: 3px solid $magenta;
                }
              }

              span.radio {
                border-radius: 100%;
              }

              input:checked ~ span.checkbox {
                &::after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 24px;
                  height: 24px;
                  line-height: 24px;
                  text-align: center;
                  vertical-align: middle;
                  font-size: 20px;
                  color: $magenta;
                  content: "\2714";
                }
              }

              input:checked ~ span.radio {
                &::after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 24px;
                  height: 20px;
                  line-height: 24px;
                  text-align: center;
                  vertical-align: middle;
                  font-size: 30px;
                  color: $magenta;
                  content: "\25CF";
                }
              }

              label {
                margin-left: 55px;
              }
            }
          }

          label {
            float: inherit;
            width: auto;
          }
        }

        span.asterisk {
          color: $red;
        }

        div.mce_inline_error {
          padding: 0;
          margin: 5px 0 30px;
          background: white;
          color: $red;
          text-align: right;
        }
      }

      input[type='submit'] {
        margin: 10px 0 45px 0;
        min-width: 150px;
        min-height: 40px;
        font-size: $font-size-base;
        font-weight: bold;
        vertical-align: middle;
        line-height: 40px;
        background: $magenta;
        color: $white;
        border: 1px solid $magenta;

        &:hover,
        &:focus {
          background: $purple;
          cursor: pointer;
        }
      }

      div#mce-responses {
        margin: 30px 0;

        div.response {
          padding: 15px 15px 25px;
          background: $black;
          color: $white;

          @include box-shadow(5);

          font-size: $font-size-base;

          a {
            color: $white;
            text-decoration: underline;

            &:hover,
            &:focus {
              color: $cyan;
            }
          }

          &::before {
            display: block;
            position: relative;
            padding: 5px 0 15px 0;
            font-size: $heading4-font-size-base;
            font-weight: bold;
          }

          &#mce-success-response {
            &::before {
              content: "Check your email";
            }
          }

          &#mce-error-response {
            &::before {
              content: "Something went wrong";
            }
          }
        }
      }
    }

    div#terms {
      padding: 30px 0 0 0;
      margin: 15px 0 0 0;
      border-top: 2px solid #dee0e2;
    }

    div#instructions {
      display: block;
      position: relative;
      padding: 15px 0 15px 0;
      margin: 0 0 30px 0;
      border-bottom: 2px solid #dee0e2;
    }
  }
}

main#profile-update {
  div#mce-responses {
    div.response {
      &#mce-success-response {
        &::before {
          content: "Check your email" !important;
        }
      }

      &#mce-error-response {
        &::before {
          content: "Check your email" !important;
        }
      }
    }
  }
}

body.topic nav#site-navigation {
  padding: 0;

  div#menu {
    box-shadow: none !important;
  }
}

header#pride-2020 {
  background: $magenta;
  color: $white;
}

header#pride-2019 {
  background: $magenta;
  color: $white;
}

header#bispace {
  background: $yellow;
  color: $black;
}

main#topic {
  @extend #page;

  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-social"
      "page-content";

    @include md-up {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title page-title"
        "page-lead-paragraph ."
        "page-social ."
        "page-content page-content";
    }
  }

  #page-title {
    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    h1.page-title {
      @include md-up {
        font-size: $heading1-font-size-base * 1.25;
      }
    }
  }
  
  #page-social {
    @supports (display: grid) {
      grid-area: page-social;
    }

    margin-bottom: 15px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: block;

      li {
        padding: 0 15px 15px 0;
        float: left;
        margin: 0;

        a {
          display: block;

          &::after {
            content: "";
            clear: both;
            display: table;
          }
        }

        span.icon {
          display: block;
          max-height: 40px;
          max-width: 40px;
          float: left;
          clear: left;
          padding: 8px;
          margin-right: 10px;

          &.twitter {
            background: #1da1f2;
          }

          &.facebook {
            background: #3b5998;
          }

          &.instagram {
            background: #e4405f;
          }
          
          &.youtube {
            background: #FF0000;
          }

          svg {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 0;
            padding: 0;
            fill: $white;
          }
        }

        p {
          float: left;
          clear: none;
          padding: 0;
          margin-bottom: 0;
          height: 40px;
          line-height: 40px;
          vertical-align: middle;
        }
      }
    }
  }

  #page-content {
    @include md-up {
      width: 100%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: 100%;
      float: none;
      clear: none;
      grid-area: page-content;
    }

    border-top: none !important;

    section#topic-section {
      &::after {
        content: "";
        clear: both;
        display: table;

        @supports (display: grid) {
          content: none;
          clear: none;
          display: none;
        }
      }

      padding-bottom: 45px;

      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 30px;
        grid-template-areas:
          "title"
          "posts";

        @include md-up {
          grid-template-columns: 4fr 7fr;
          grid-column-gap: 30px;
          grid-template-rows: auto;
          grid-template-areas: "title posts";
        }

        padding-bottom: 15px;
      }

      h2.section-title {
        padding: 30px 0 0 0;

        @supports (display: grid) {
          grid-area: title;
        }

        @include md-up {
          width: calc(40% - 50px);
          float: left;
          clear: left;
          margin-right: 50px;
          padding-bottom: 30px;
        }

        @supports (display: grid) {
          width: 100%;
          float: none;
          clear: none;
          margin-right: 0;
        }

        font-size: $heading2-font-size-base;
        border-top: 2px solid $magenta;

        a {
          color: $black;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $black;
            text-decoration: underline;
            -webkit-text-decoration-color: $magenta;
            text-decoration-color: $magenta;
          }
        }
      }

      ul {
        @include md-up {
          width: 60%;
          float: left;
          clear: none;

          @supports (display: grid) {
            width: 100%;
            float: none;
            clear: none;
          }
        }

        @supports (display: grid) {
          grid-area: posts;
        }

        list-style: none;
        padding: 0;

        li {
          padding: 15px 0;
          border-top: 1px solid $light-gray;

          &:first-of-type {
            border-top: 2px solid $light-gray;
          }

          article {
            h2 {
              padding: 0;
              font-size: $heading4-font-size-base;
            }

            p {
              font-size: $font-size-base - 2px;
              margin: 5px 0 0 0;

              &.post-metadata {
                font-size: $font-size-base - 4px;
                color: $dark-gray;
              }
            }
          }
        }
      }
    }
  }
}
