// Posts page styles

main {
  @include clearfix;
}

main#news,
main#format-news,
main#notice,
main#format-notice,
main#consultation,
main#format-consultation,
main#publication,
main#format-publication,
main#event,
main#format-event,
main#manual,
main#format-manual,
main[id^="format-"] {
  padding: 45px 0;
}

main#news,
main#format-news,
main#notice,
main#format-notice {
  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-lead-paragraph"
      "page-metadata"
      "page-content"
      "page-related";

    @include md-up {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title ."
        "page-lead-paragraph ."
        "page-metadata page-metadata"
        "page-content page-related";
    }
  }

  div#page-title {
    width: 100%;

    @supports (display: grid) {
      grid-area: page-title;
    }

    margin-top: 45px;
    margin-bottom: 45px;

    p.page-type {
      font-size: $font-size-base + 5px;
      color: $brand-gray;
      text-transform: capitalize;
      margin-top: 0;
    }

    h1.page-title {
      margin: 0;
      padding: 0;
    }
  }

  div#page-lead-paragraph {
    width: 100%;

    @supports (display: grid) {
      grid-area: page-lead-paragraph;
    }

    margin-bottom: 45px;

    p {
      font-size: $font-size-base + 5px;
    }
  }

  div#page-metadata {
    @supports (display: grid) {
      grid-area: page-metadata;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $light-gray;

    p {
      font-size: $font-size-base - 3px;
      margin: 0;
    }
  }

  div#page-content {
    @include md-up {
      width: 67%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: auto;
      float: none;
      clear: none;
      grid-area: page-content;
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: 2px solid $light-gray;

    img.page-image {
      width: 100%;
      min-width: 100%;
      min-height: 100px;
    }

    ul.loop {
      list-style: none;
      padding: 0;
      padding-bottom: 30px;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $light-gray;

        &:last-child {
          border: none;
        }

        article {
          padding-bottom: 15px;

          h2 {
            @extend h5;

            padding-top: 15px;
            padding-bottom: 0;
          }

          p {
            font-size: $font-size-base - 2px;
            margin: 5px 0 0 0;

            &.post-metadata {
              font-size: $font-size-base - 4px;
              color: $dark-gray;
            }
          }
        }
      }
    }

    div.footnotes {
      border-top: 2px solid $light-gray;
      margin-top: 45px;
      padding: 15px 0 0 0;

      &::before {
        @extend h4;

        display: inline-block;
        width: 100%;
        padding-bottom: 15px;
        content: "Footnotes";
      }
    }
  }

  div#page-related {
    @include md-up {
      width: calc(33% - 30px);
      float: right;
      clear: none;
      margin-left: 30px;
    }

    @supports (display: grid) {
      width: auto;
      float: none;
      clear: none;
      margin-left: 0;
      grid-area: page-related;
    }

    h2.page-related-title {
      font-size: $font-size-base + 3px;
      font-weight: bold;
      padding: 15px 0;
      border-top: 2px solid $brand-primary;
      margin-top: 45px;
      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0 0 15px 0;

        p {
          font-size: $font-size-base;
          margin: 0;

          &.post-metadata {
            font-size: $font-size-base - 4px;
            color: $dark-gray;
          }
        }
      }
    }
  }
}

main#consultation,
main#format-consultation {
  @extend #news;

  @supports (display: grid) {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-metadata"
      "page-lead-paragraph"
      "page-content"
      "page-related";

    @include md-up {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title ."
        "page-metadata page-metadata"
        "page-lead-paragraph page-related"
        "page-content .";
    }
  }

  div#page-lead-paragraph {
    width: 67%;

    @supports (display: grid) {
      width: auto;
    }

    background: $black;

    @include box-shadow(5);

    padding: 30px;
    margin-bottom: 45px;

    p {
      font-size: $font-size-base;
      color: $brand-inverse;
      padding: 10px 0 0 0;
      margin: 0;
    }

    code {
      font-size: $font-size-base - 2px;
      color: $brand-inverse;
      padding: 10px 0 0 0;
      margin: 0;
    }

    a {
      color: white;
      text-decoration: underline;
    }

    time {
      font-weight: bold;
    }

    h2 {
      color: $brand-inverse;
      padding: 0;
      margin: 0 0 10px 0;
    }
  }

  div#page-content {
    @include md-up {
      width: 67%;
      float: left;
      clear: left;
    }

    @supports (display: grid) {
      width: auto;
      float: none;
      clear: none;
    }

    border-top: none;

    h2 {
      font-size: $heading2-font-size-base;
      margin: 0 0 30px 0;
      padding: 0;
    }
  }

  div#page-related {
    width: calc(33% - 30px);
    float: right;
    clear: none;
    margin-left: 30px;

    @supports (display: grid) {
      width: auto;
      float: none;
      clear: none;
      margin-left: 0;
    }
  }
}

main#publication,
main#format-publication,
main#business-plan,
main#format-business-plan,
main#manual,
main#format-manual {
  @supports (display: grid) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "publication-header"
      "page-contents";
  }

  div#publication-header {
    @supports (display: grid) {
      grid-area: publication-header;
    }

    background: $black;

    @include box-shadow(5);

    padding: 45px;
    margin: 45px 0;

    @supports (display: grid) {
      margin-top: 0;
    }

    div#page-title {
      margin-top: 0;
      margin-bottom: 45px;

      p.page-type {
        font-size: $font-size-base + 5px;
        color: $brand-inverse;
        text-transform: capitalize;
        margin-top: 0;
      }

      h1.page-title {
        margin: 0;
        padding: 0;
        color: $brand-inverse;
      }
    }

    div#page-lead-paragraph {
      width: 100%;

      margin-bottom: 45px;

      p {
        font-size: $font-size-base + 5px;
        color: $white;
      }
    }

    div#page-metadata {
      margin-bottom: 0;
      padding-top: 15px;
      border-top: none;

      p {
        font-size: $font-size-base - 3px;
        color: $brand-inverse;
        margin: 0;
      }
    }
  }

  div#page-contents {
    @include clearfix;

    @supports (display: grid) {
      grid-area: page-contents;
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        "page-toc"
        "page-content"
        "page-footnotes";

      @include md-up {
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 30px;
        grid-template-areas:
          "page-toc page-content"
          "page-toc page-footnotes";
      }
    }

    margin-bottom: 45px;
    padding-top: 15px;
    border-top: none;

    ul#markdown-toc,
    ul#toc {
      width: 25%;
      float: left;
      clear: left;

      @supports (display: grid) {
        grid-area: page-toc;
        width: auto;
        float: none;
        clear: none;
      }

      padding: 0;
      margin: 0 0 45px;
      list-style: none;
      list-style-type: none;

      &::before {
        @extend h4;

        padding-top: 0;
        display: inline-block;
        content: "Contents";
        width: 100%;
      }

      li {
        margin: 0;
        padding: 0 0 15px 0;
        font-size: $font-size-base - 2px;

        > ul {
          display: none;
        }
      }
    }

    div#page-content {
      > h2:first-of-type {
        padding-top: 0;
        margin-top: 0;
      }

      width: 75%;
      float: left;
      clear: none;

      @supports (display: grid) {
        width: auto;
        float: none;
        clear: none;
        grid-area: page-content;
      }

      margin-bottom: 45px;
    }

    div.footnotes {
      border-top: 2px solid $light-gray;
      padding: 15px 0 0 0;

      &::before {
        @extend h4;

        display: inline-block;
        width: 100%;
        padding-bottom: 15px;
        content: "Footnotes";
      }
    }
  }

  details.objective {

    ul {
      padding: 0;
    }

    li {
      display: block;
      position: relative;

      line-height: 1;
      list-style: none;
      padding: $container-padding 0 !important;
      @include md-up {
        padding: $container-padding ($container-padding * 0.5);
      }
      border-top: 1px solid $light-gray;

      p {
        display: block;
        padding-left: $radios-size + $radios-label-padding-left-right;
        min-height: $input-size;
        vertical-align: middle;
        &:first-of-type {
          padding-top: 7.5px;
        }
        margin-bottom: 7.5px;
        &.date {
          min-height: unset;
          padding-top: 0;
          padding-bottom: 0;
          color: $dark-gray;
        }
      }

      span.milestone {
        position: relative;
        display: block;
        min-height: $radios-size;
      }
      span.status {
        display: inline-block;
        margin-bottom: 0;
        padding: 0px $radios-label-padding-left-right;

        font-weight:    400;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;

            width: $radios-size;
            height: $radios-size;

            border: 2px solid $black;
            border-radius: 0;
            background: transparent;
        }

        &::after {
            content: "";

            position: absolute;
            top: 7px;
            left: 13px;

            width: $radios-size / 3;
            height: $radios-size / 2;

            opacity: 0;
            background: none;
            border-bottom: 5px solid $brand-primary;
            border-right: 5px solid $brand-primary;

            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &.complete::after {
          opacity: 1;
        }
      }

    }

    p {
      max-width: 60ch;
    }

  }
  // Business plan format
  div.objective-summary {
    display: inline-block;
    width: calc(100% - (#{$container-padding} * 2));

    label {
      display: inline-block;
      position: relative;
      padding: 0 0 $container-padding !important;
    }

    progress {

      &[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;

        /* Get rid of default border in Firefox. */
        border: none;
      }

      display: block;
      position: relative;

      width: 100%;
      max-width: 600px;

      &::-webkit-progress-bar {
        /* style rules */
        background-color: $light-gray;
        border-radius: 0px;
      }

      &.in-progress {

        color: $cyan;

        &::-webkit-progress-value {
          background-color: $cyan;
        }
        &::-moz-progress-bar {
          background-color: $cyan;
        }

      }

      &.complete {

        color: $green;

        &::-webkit-progress-value {
          background-color: $green;
        }
        &::-moz-progress-bar {
          background-color: $green;
        }

      }


    }

  }

}

main#event,
main#format-event {
  @extend #news;

  @supports (display: grid) {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "page-title"
      "page-metadata"
      "page-lead-paragraph"
      "page-content"
      "page-related";

    @include md-up {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "page-title ."
        "page-metadata page-metadata"
        "page-lead-paragraph page-related"
        "page-content page-related";
    }
  }

  div#page-lead-paragraph {
    width: 67%;

    @supports (display: grid) {
      width: 100%;
    }

    background: $black;

    @include box-shadow(5);

    color: $brand-inverse;
    padding: 30px;
    margin-bottom: 45px;

    p {
      font-size: $font-size-base;
      color: $brand-inverse;
      padding: 10px 0 0 0;
      margin: 0;
    }

    ul {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    code {
      font-size: $font-size-base - 2px;
      color: $brand-inverse;
      padding: 10px 0 0 0;
      margin: 0;
    }

    a {
      color: white;
      text-decoration: underline;
    }

    h2 {
      color: $brand-inverse;
      padding: 0;
      margin: 0 0 10px 0;
    }
  }

  div#page-content {
    border-top: none;

    h2 {
      font-size: $heading2-font-size-base;
      margin: 0 0 30px 0;
      padding: 0;
    }

    aside.disclaimer {

      @extend blockquote;
      padding: $container-padding;
      margin-top: 15px;
    }
  }
}

