<div id="site-footer">
	
	<footer id="footer" class="container">

		<h1>{{ site.footer--title--display-text }}</h1>
		
		<div id="footer-links">
			
			<ul>
				{% for item in site.footer-menu--links %}
				{% if item.hidden != true %}
				<li><a href="{{ item.url }}" title="{{ item.alt-text }}">{{ item.display-text }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			
		</div>
		
		<div id="footer-share">
			
			<ul>
				{% for item in site.social-media-accounts %}
				{% if item.hidden != true %}
				<li><a href="{{ item.url }}" title="{{ item.alt-text }} (Opens in new window)" target="_blank">{{ item.display-text }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			
		</div>
		
		<div id="footer-disclaimer">
			
			{{ site.footer--production-notice | markdownify }}
			{{ site.footer--copyright-notice | markdownify }}
			
		</div>

	</footer>
	
</div>