<html lang="en">
	
	{% include global/head/head.html %}

	<body class="{{ page.layout | slugify }}{% if page.preview == true %} preview{% endif %}{% for banner in site.data.global-banner %}{% assign today-date = site.time | date: "%Y-%m-%d" %}{% assign end-date = banner.end-date | date: "%Y-%m-%d" %}{% if banner.show == true and today-date < end-date %} global-banner{% endif %}{% endfor %}">
		
		<div class="wrapper">
		
		{% include global/skiplink.html %}
		{{ content }}
		
		</div>
		
	</body>
	
</html>
