---
layout: default
---

<main id="{{ page.layout }}">
	
	<div id="page-title">		
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
	
	<div id="page-lead-paragraph">
		<p>{{ page.excerpt }}</p>
	</div>
	
	<div id="page-content" class="loop-{{ page.collection }}">
		
			<h2 class="page-subheading">News</h2>
		
			<ul>
			{% for post in site.posts %}
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p>{{ post.excerpt }}</p>
						<p class="post-metadata">Published <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date  | date:'%-d %B %Y' }}</time> {% if post.author %}by {{ post.author }}{% endif %}</p>
					</article>
				</li>
			{% endfor %}
			</ul>

			<h2 class="page-subheading">Notices</h2>
		
			<ul>
			{% for post in site.notices %}
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p>{{ post.excerpt }}</p>
						<p class="post-metadata">Published <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date  | date:'%-d %B %Y' }}</time> {% if post.author %}by {{ post.author }}{% endif %}</p>
					</article>
				</li>
			{% endfor %}
			</ul>
				
			<h2 class="page-subheading">Events</h2>
		
			<h3>Upcoming events</h3>
			
			{% assign today-date = 'now' | date: '%s' %}
			{% assign events = site.events | sort: "date" %}
			
			<h2 class="loop-subheading">Upcoming events</h2>
				
			<ul>
			{% for post in events %}
			
				{% assign date = post.event-date | date: '%s' %}
				{% if today-date < date %}
				<li>
					<article>
						<h2><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="post-metadata"><time datetime="{{ post.event-date | date: '%Y-%m-%d %H:%M' }}">{{ post.event-date  | date:'%-d %B %Y at %H:%M' }}</time></p>
					</article>
				</li>				
				{% endif %}
				
			{% endfor %}
			</ul>
			
			{% assign counter = 0 %}
			{% for post in events %}
			{% assign date = post.date | date: '%s' %}
			{% if today-date > date %}
				{% assign counter = counter | plus: 1 %}
			{% endif %}
			{% endfor %}
			
			{% if counter > 0 %}
			
			<h2 class="loop-subheading">Past events</h2>
			
			<ul>
			{% assign events = site.events | sort: 'date' | reverse %}
			
			{% for post in events %}
			
				{% assign date = post.event-date | date: '%s' %}
				{% if today-date > date %}
				<li>
					<article>
						<h2><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="post-metadata"><time datetime="{{ post.event-date | date: '%Y-%m-%d' }}">{{ post.event-date  | date:'%-d %B %Y' }}</time></p>
					</article>
				</li>
				{% endif %}
				
			{% endfor %}
			</ul>
			
			{% endif %}
		
			<h2 class="page-subheading">Publications</h2>
		
			{% assign publications = site.publications | sort: "date" | reverse %}

			<ul>				
			{% for post in publications %}
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="post-metadata"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date  | date:'%-d %B %Y' }}</time> {% if post.author %}by {{ post.author }}{% endif %}</p>
					</article>
				</li>
			{% endfor %}
			</ul>
		
			<h2 class="page-subheading">Consultations</h2>						
			
			{% assign consultations = site.consultations | sort: "end-date" | reverse %}
			{% assign today-date = 'now' | date: '%s' %}
			
			{% assign consultation-counter = 0 %}
			{% for post in consultations %}
			{% assign end-date = post.end-date | date: '%s' %}
			{% if today-date < end-date %}
				{% assign consultation-counter = consultation-counter | plus: 1 %}
			{% endif %}
			{% endfor %}

			<h3>Open consultations</h3>
							
			{% if consultation-counter > 0 %}

			<ul>
			{% assign consultations = site.consultations | sort: "end-date" %}
			
			{% for post in consultations %}
			
				{% assign end-date = post.end-date | date: '%s' %}
				{% if today-date < end-date %}
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="post-metadata">Closes <time datetime="{{ post.end-date | date: '%Y-%m-%d' }}">{{ post.end-date  | date:'%-d %B %Y' }}</time></p>
					</article>
				</li>				
				{% endif %}
				
			{% endfor %}
			</ul>
			
			{% else %}
			
				<p>There are currently no open consultations.</p>
				<p>If you have a consultation that affects LGBT+ civil servants, and you'd like us to share it, <a href="{{ site.url | append: site.base-url | append: '/about/contact-us' }}">contact us</a>.</p>
			
			{% endif %}
			
			{% assign consultation-counter = 0 %}
			{% for post in consultations %}
			{% assign end-date = post.end-date | date: '%s' %}
			{% if today-date > end-date %}
				{% assign consultation-counter = consultation-counter | plus: 1 %}
			{% endif %}
			{% endfor %}
			
			{% if consultation-counter > 0 %}
			
			<h3>Closed consultations</h3>
			
			<ul>
			{% assign consultations = site.consultations | sort: 'end-date' | reverse %}
			
			{% for post in consultations %}
			
				{% assign end-date = post.end-date | date: '%s' %}
				{% if today-date > end-date %}
				
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="post-metadata">Closed <time datetime="{{ post.end-date | date: '%Y-%m-%d' }}">{{ post.end-date  | date:'%-d %B %Y' }}</time></p>
					</article>
				</li>

				{% endif %}
				
			{% endfor %}
			</ul>
			
			{% endif %}
			
			<h2 class="page-subheading">Manuals</h2>
		
			<ul>
			{% for post in site.manuals %}
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="post-metadata"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date  | date:'%-d %B %Y' }}</time></p>
					</article>
				</li>
			{% endfor %}
			</ul>
			
			<h2 class="page-subheading">Archives</h2>
		
			<ul>
			{% assign archives = site.archives | sort: 'date' | reverse %}
			{% for post in archives %}
				<li>
					<article>
						<h2 class="page-subheading"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p>{{ post.excerpt }}</p>
						<p class="post-metadata">Published <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date  | date:'%-d %B %Y' }}</time> {% if post.author %}by {{ post.author }}{% endif %}</p>
					</article>
				</li>
			{% endfor %}
			</ul>

		
		
	</div>
		
</main>