---
layout: global/skeleton
---

{% include global/header/header.html %}

<main id="{{ page.layout | slugify }}">

<section id="header">
	
	<div class="container">

		<header id="home-header">
			
			<h1>Hello</h1>
			<h2>We're the Civil Service LGBT+ Network.</h2>
			<p>We're helping to create a more diverse, inclusive and equal place to work for lesbian, gay, bisexual and trans civil servants.</p>

		</header>
		
	</div>

</section>

<section id="content">
	
	<div class="container">
		
		{% if site.home-news == true %}
			{% include formats/home/news.html %}
		{% endif %}
		
		{% include formats/home/join.html %}
		
		{% include formats/home/social.html %}
		
		{% if site.home-events == true %}
			{% include formats/home/events.html %}
		{% endif %}
		
		{% if site.home-publications == true %}
			{% include formats/home/publications.html %}
		{% endif %}
		
		{% if site.home-consultations == true %}
			{% include formats/home/consultations.html %}
		{% endif %}
		
		{% if site.home-topics == true %}
			{% include formats/home/topics.html %}
		{% endif %}
		
	</div>
	
</section>

</main>

{% include global/footer/footer.html %}