---
layout: default
---

<main id="{{ page.layout }}">
	
	<div id="page-title">		
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
	
	<div id="page-lead-paragraph">
		<p>{{ page.excerpt }}</p>
	</div>
	
	<div id="page-content">
		
		{{ content }}
		
		<!-- NOTE - THIS FORM REQUIRES JQUERY -->
		
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="https://lgbt.us17.list-manage.com/subscribe/post?u=ff3af94531f92ff898a64d95c&amp;id=a2cb7ebf53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			
		<div class="indicates-required"><span class="asterisk">*</span> indicates required field</div>
		
		<h2>Your contact details</h2>
			
		<div class="mc-field-group">
			<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
		</label>
			<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
		</label>
			<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		
		<h2>About you</h2>
		
		<div class="mc-field-group input-group">
		    <strong>You want to hear about events taking place in... </strong>
		    <ul><li><input type="checkbox" value="4096" name="group[6097][4096]" id="mce-group[6097]-6097-0"><span class="checkbox"></span><label for="mce-group[6097]-6097-0">East of England</label></li>
		<li><input type="checkbox" value="8192" name="group[6097][8192]" id="mce-group[6097]-6097-1"><span class="checkbox"></span><label for="mce-group[6097]-6097-1">East Midlands</label></li>
		<li><input type="checkbox" value="16384" name="group[6097][16384]" id="mce-group[6097]-6097-2"><span class="checkbox"></span><label for="mce-group[6097]-6097-2">London</label></li>
		<li><input type="checkbox" value="32768" name="group[6097][32768]" id="mce-group[6097]-6097-3"><span class="checkbox"></span><label for="mce-group[6097]-6097-3">North East</label></li>
		<li><input type="checkbox" value="65536" name="group[6097][65536]" id="mce-group[6097]-6097-4"><span class="checkbox"></span><label for="mce-group[6097]-6097-4">North West</label></li>
		<li><input type="checkbox" value="131072" name="group[6097][131072]" id="mce-group[6097]-6097-5"><span class="checkbox"></span><label for="mce-group[6097]-6097-5">Northern Ireland</label></li>
		<li><input type="checkbox" value="262144" name="group[6097][262144]" id="mce-group[6097]-6097-6"><span class="checkbox"></span><label for="mce-group[6097]-6097-6">Scotland</label></li>
		<li><input type="checkbox" value="524288" name="group[6097][524288]" id="mce-group[6097]-6097-7"><span class="checkbox"></span><label for="mce-group[6097]-6097-7">South East</label></li>
		<li><input type="checkbox" value="1048576" name="group[6097][1048576]" id="mce-group[6097]-6097-8"><span class="checkbox"></span><label for="mce-group[6097]-6097-8">South West</label></li>
		<li><input type="checkbox" value="2097152" name="group[6097][2097152]" id="mce-group[6097]-6097-9"><span class="checkbox"></span><label for="mce-group[6097]-6097-9">Wales</label></li>
		<li><input type="checkbox" value="4194304" name="group[6097][4194304]" id="mce-group[6097]-6097-10"><span class="checkbox"></span><label for="mce-group[6097]-6097-10">West Midlands</label></li>
		<li><input type="checkbox" value="8388608" name="group[6097][8388608]" id="mce-group[6097]-6097-11"><span class="checkbox"></span><label for="mce-group[6097]-6097-11">Yorkshire and Humber</label></li>
		</ul>
		</div>
		<div class="mc-field-group input-group">
		    <strong>How do you describe your sexual orientation? </strong>
		    <ul><li><input type="radio" value="1" name="group[6077]" id="mce-group[6077]-6077-0"><span class="radio"></span><label for="mce-group[6077]-6077-0">Heterosexual or straight</label></li>
		<li><input type="radio" value="2" name="group[6077]" id="mce-group[6077]-6077-1"><span class="radio"></span><label for="mce-group[6077]-6077-1">Gay or lesbian</label></li>
		<li><input type="radio" value="4" name="group[6077]" id="mce-group[6077]-6077-2"><span class="radio"></span><label for="mce-group[6077]-6077-2">Bisexual</label></li>
		<li><input type="radio" value="8" name="group[6077]" id="mce-group[6077]-6077-3"><span class="radio"></span><label for="mce-group[6077]-6077-3">In another way</label></li>
		<li><input type="radio" value="536870912" name="group[6077]" id="mce-group[6077]-6077-4"><span class="radio"></span><label for="mce-group[6077]-6077-4">Prefer not to say</label></li>
		</ul>
		</div>
		<div class="mc-field-group input-group">
		    <strong>How do you describe your gender identity? </strong>
		    <ul><li><input type="radio" value="128" name="group[6085]" id="mce-group[6085]-6085-0"><span class="radio"></span><label for="mce-group[6085]-6085-0">Man</label></li>
		<li><input type="radio" value="256" name="group[6085]" id="mce-group[6085]-6085-1"><span class="radio"></span><label for="mce-group[6085]-6085-1">Woman</label></li>
		<li><input type="radio" value="512" name="group[6085]" id="mce-group[6085]-6085-2"><span class="radio"></span><label for="mce-group[6085]-6085-2">Non-binary</label></li>
		<li><input type="radio" value="1024" name="group[6085]" id="mce-group[6085]-6085-3"><span class="radio"></span><label for="mce-group[6085]-6085-3">In another way</label></li>
		<li><input type="radio" value="2048" name="group[6085]" id="mce-group[6085]-6085-4"><span class="radio"></span><label for="mce-group[6085]-6085-4">Prefer not to say</label></li>
		</ul>
		</div>
		<div class="mc-field-group input-group">
		    <strong>Your gender identity is... </strong>
		    <ul><li><input type="radio" value="16" name="group[6081]" id="mce-group[6081]-6081-0"><span class="radio"></span><label for="mce-group[6081]-6081-0">The same as the sex you were assigned at birth</label></li>
		<li><input type="radio" value="32" name="group[6081]" id="mce-group[6081]-6081-1"><span class="radio"></span><label for="mce-group[6081]-6081-1">Different from the sex you were assigned at birth</label></li>
		<li><input type="radio" value="64" name="group[6081]" id="mce-group[6081]-6081-2"><span class="radio"></span><label for="mce-group[6081]-6081-2">Prefer not to say</label></li>
		</ul>
		</div>
		<div class="mc-field-group input-group">
		    <strong>How do you describe your ethnicity? </strong>
		    <ul><li><input type="radio" value="16777216" name="group[6105]" id="mce-group[6105]-6105-0"><span class="radio"></span><label for="mce-group[6105]-6105-0">White</label></li>
		<li><input type="radio" value="33554432" name="group[6105]" id="mce-group[6105]-6105-1"><span class="radio"></span><label for="mce-group[6105]-6105-1">Mixed</label></li>
		<li><input type="radio" value="67108864" name="group[6105]" id="mce-group[6105]-6105-2"><span class="radio"></span><label for="mce-group[6105]-6105-2">Asian</label></li>
		<li><input type="radio" value="134217728" name="group[6105]" id="mce-group[6105]-6105-3"><span class="radio"></span><label for="mce-group[6105]-6105-3">Black</label></li>
		<li><input type="radio" value="268435456" name="group[6105]" id="mce-group[6105]-6105-4"><span class="radio"></span><label for="mce-group[6105]-6105-4">In another way</label></li>
		<li><input type="radio" value="1073741824" name="group[6105]" id="mce-group[6105]-6105-5"><span class="radio"></span><label for="mce-group[6105]-6105-5">Prefer not to say</label></li>
		</ul>
		</div>
		<div class="mc-field-group input-group">
		    <strong>Do you consider yourself to have a disability? </strong>
		    <ul><li><input type="radio" value="2147483648" name="group[6109]" id="mce-group[6109]-6109-0"><span class="radio"></span><label for="mce-group[6109]-6109-0">Yes</label></li>
		<li><input type="radio" value="4294967296" name="group[6109]" id="mce-group[6109]-6109-1"><span class="radio"></span><label for="mce-group[6109]-6109-1">No</label></li>
		<li><input type="radio" value="8589934592" name="group[6109]" id="mce-group[6109]-6109-2"><span class="radio"></span><label for="mce-group[6109]-6109-2">Prefer not to say</label></li>
		</ul>
		</div>
		
		
		<h2>Your local LGBT+ network</h2>
		
		<div class="mc-field-group input-group">
		    <strong>Do you help to run your local LGBT+ network? </strong>
		    <ul><li><input type="radio" value="17179869184" name="group[6113]" id="mce-group[6113]-6113-0"><span class="radio"></span><label for="mce-group[6113]-6113-0">Yes - I'm the Chair</label></li>
		<li><input type="radio" value="34359738368" name="group[6113]" id="mce-group[6113]-6113-1"><span class="radio"></span><label for="mce-group[6113]-6113-1">Yes - I'm a committee member or other volunteer</label></li>
		<li><input type="radio" value="68719476736" name="group[6113]" id="mce-group[6113]-6113-2"><span class="radio"></span><label for="mce-group[6113]-6113-2">No</label></li>
		</ul>
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff3af94531f92ff898a64d95c_a2cb7ebf53" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>
		
		<!--End mc_embed_signup-->
		
	</div>
	
</main>