---
layout: default
---

<main id="{{ page.layout }}">
	
	<div id="page-title">		
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
	
	<div id="page-lead-paragraph">
		<p>{{ page.excerpt }}</p>
	</div>
	
	<div id="page-content">
		
		<div id="instructions">
			
			{{ content }}
		
		</div>
				
		<!-- NOTE - THIS FORM REQUIRES JQUERY -->
		
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			
			<form action="https://lgbt.us17.list-manage.com/subscribe/post?u=ff3af94531f92ff898a64d95c&amp;id=a2cb7ebf53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
													
					<div class="mc-field-group">
						<label for="mce-FNAME">First Name
					</label>
						<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
					</div>
					<div class="mc-field-group">
						<label for="mce-LNAME">Last Name
					</label>
						<input type="text" value="" name="LNAME" class="required" id="mce-LNAME" required>
					</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
					</div>

				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff3af94531f92ff898a64d95c_a2cb7ebf53" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Submit update request" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
		</div>
		
		<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: '/assets/scripts/jquery-mc.js' }}"></script>
		<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->
		
	</div>
	
</main>